<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
=======
>>>>>>> c6be2b70215235f51feffb2a932b0aaf3e26444a
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
<<<<<<< HEAD
=======
  overflow-x: hidden;
>>>>>>> c6be2b70215235f51feffb2a932b0aaf3e26444a
}

body {
  overflow-x: hidden;
<<<<<<< HEAD
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  z-index: 0;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */
#particles-js {
  width: 100vw;
  height: 100vh;
  background-color: #023047ff;
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: 50% 50%;
}

.jumbo {
  width: 100%;
  height: 100%;
=======
  background-color: #000000 !important;
}

.video-container {
  /* width is set as 100% here. any width can be specified as per requirement */
  width: 100vw;
  padding-top: 56.25%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  position: relative;
}

.video {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

/*----Navigation------*/
/*self made class*/
/* 
.bgcolor.scrolled {
    background-color: rgba(29, 26, 26, 0.8);
} */
#nav-bar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar-brand img {
  height: 50px;
  padding-left: 30px;
}

.navbar-nav li {
  padding: 0 10px;
}

.navbar-nav li a {
  float: right;
  text-align: left;
}

#nav-bar ul li a:hover {
  color: #ee9b00 !important;
}

.navbar {
  width: 100vw;
}

/* .navbar {
    position: absolute;
    top: 30px;
    z-index: 10;
    background: #fff;
    width: 100%;
    background-color: transparent;
} */
.navbar-toggler {
  border: none !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 280, 280, 0.9%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.nav-link {
  color: white !important;
  font-weight: 500;
  font-size: 16px;
}

.arrow {
  position: relative;
  top: -150px;
  left: 30px;
>>>>>>> c6be2b70215235f51feffb2a932b0aaf3e26444a
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
<<<<<<< HEAD
  z-index: 1;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Inter;
  position: absolute;
}

.jumbo__title {
  font-weight: 900;
  font-size: 2.5em;
  background: -webkit-linear-gradient(90deg, #fb8500ff, #ffb703ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.jumbo__subtitle {
  font-size: 1em;
  width: 80%;
  margin-top: 0.5rem;
  color: #ffb703ff;
  margin-bottom: 0.5rem;
  text-align: center;
  font-weight: 400;
}

.jumbo__date {
  font-size: 1.1em;
  font-weight: 700;
  color: #ffb703ff;
}

.jumbo__cta {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  width: 50%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 6px;
  min-height: 40px;
  margin-top: 1rem;
  background-color: transparent;
  border: 2px solid #ffb703ff;
  -webkit-transition: all ease-in-out 500ms;
  transition: all ease-in-out 500ms;
}

.jumbo__cta:hover {
  background-color: #ffb703ff;
  color: #023047ff;
  cursor: pointer;
}

.jumbo__cta:hover button {
  cursor: pointer;
  color: #023047ff;
}

.jumbo__btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  font-size: 1.1em;
  color: #ffb703ff;
  font-weight: 600;
  background: transparent;
}

.about {
  background-color: #ffb703ff;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
=======
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 40px 0;
}

/*-----Slider-------*/
#slider {
  width: auto;
}

.carousel-caption {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  bottom: initial !important;
}

.carousel-extra-caption {
  top: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  bottom: initial !important;
}

.carousel-caption h6 {
  color: #fff;
  font-size: 20px;
}

.carousel-caption h5 {
  color: #fff;
  font-size: 80px;
}

.carousel-caption h4 {
  color: #fff;
  font-size: 80px;
}

.carousel-caption h3 {
  color: #fff;
  font-size: 80px;
}

.carousel-caption h2 {
  color: #fff;
  font-size: 80px;
}

/*------------About---------*/
#about {
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  font-size: 20px;
}

.about-content {
  padding-top: 20px;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
>>>>>>> c6be2b70215235f51feffb2a932b0aaf3e26444a
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
<<<<<<< HEAD
  font-family: 'Inter';
}

.about__title {
  font-weight: 900;
  letter-spacing: 0.75px;
  text-align: center;
  font-size: 2em;
  color: #023047ff;
}

.about__content {
  width: 80%;
  text-align: center;
  margin-top: 1rem;
  font-weight: 300;
  font-size: 1.2em;
  color: #011f2e;
}

.timer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #023047ff;
}

.timer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.timer__days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
=======
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 40px 0;
}

/*-----------IT Club---------*/
#ITClub {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#577da8), to(rgba(0, 0, 0, 0.6))), url("./img/banners/Banner4.jpg");
  background-image: linear-gradient(#577da8, rgba(0, 0, 0, 0.6)), url("./img/banners/Banner4.jpg");
  border-radius: 25px;
  background-size: cover;
  background-position: center;
  color: #efefef !important;
  background-attachment: fixed;
  /* padding-top: 50px;
    padding-bottom: 20px; */
  width: 900px;
  height: 700px;
  position: relative;
  top: 12px;
  width: 45vw;
  height: 100%;
}

#ITClub h1 {
  text-align: center;
  color: #efefef !important;
  padding-bottom: 5px;
  font-size: 60px;
}

#ITClub h1::after {
  content: '';
  background-color: #efefef;
  display: block;
  height: 3px;
  width: 170px;
  margin: 20px auto 5px;
}

.answer-field {
  width: 50%;
}

.Discord {
  width: 100%;
  display: none;
>>>>>>> c6be2b70215235f51feffb2a932b0aaf3e26444a
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

<<<<<<< HEAD
.timer__daysn {
  margin-top: 1rem;
  font-size: 3em;
  font-weight: 900;
  color: #8ecae6ff;
  font-family: 'Inter';
}

.timer__daysd {
  font-size: 1.5em;
  color: #fb8500ff;
  font-family: 'Inter';
}

.disabled {
  visibility: hidden;
}

.tracks {
  background-color: #fb8500ff;
  font-family: 'Inter';
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.tracks__title {
  font-size: 2em;
  text-align: center;
  font-weight: 900;
  color: #011924;
}

.tracks__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tracks__track {
  width: 80%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #011924;
  border-radius: 1rem;
}

.tracks__track-title {
  text-align: center;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #fb8500ff;
  font-size: 1.7em;
  padding-left: 8px;
  padding-right: 8px;
  font-weight: 800;
}

.tracks__track-subtitle {
  text-align: center;
  font-size: 1.5em;
  color: #ffb703ff;
  font-weight: 300;
  text-transform: uppercase;
}

.tracks__img {
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.tracks__track-list {
  list-style: none;
  text-align: center;
  margin-top: 1rem;
  color: #8ecae6ff;
  margin-bottom: 2rem;
}

.tracks__track-list-item {
  font-size: 1.2em;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 0.75rem;
}

.tracks__header {
=======
@media screen and (min-width: 767px) {
  .answer-field {
    width: 25%;
  }
}

.link-arrow {
  z-index: 9;
  position: relative;
  top: -60px;
  left: 780px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* margin: 40px 0; */
  color: rgba(255, 255, 255, 0.726);
}

.CodeJam {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc711), to(rgba(0, 0, 0, 0.596))), url("./img/banners/Banner4.jpg");
  background-image: linear-gradient(#ffc711, rgba(0, 0, 0, 0.596)), url("./img/banners/Banner4.jpg");
  border-radius: 25px;
  background-size: cover;
  background-position: center;
  color: #efefef !important;
  background-attachment: fixed;
  /* padding-top: 50px;
    padding-bottom: 20px; */
  width: 45vw;
  height: 100%;
}

/*------------Techsprint----------*/
#TechSprint {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.8))), url("./img/techsprint/Techsprint.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url("./img/techsprint/Techsprint.jpg");
  border-radius: 25px;
  background-size: cover;
  background-position: center;
  color: #efefef !important;
  background-attachment: fixed;
  width: 90vw;
  height: 250px;
  margin: auto;
  position: relative;
  top: 12px;
  padding-left: 20px;
  padding-right: 20px;
}

#TechSprint h1 {
  font-size: 70px;
  text-align: center;
  position: relative;
  top: 60px;
  color: #efefef !important;
  padding-bottom: 5px;
}

#TechSprint h1::after {
  content: '';
  background-color: #efefef;
  display: block;
  height: 3px;
  width: 170px;
  margin: 20px auto 5px;
}

.techsprintknowmore h5 {
  color: #efefef !important;
}

#regForm {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 40px 0;
  width: 100px;
}

.RegText h1 {
  padding-top: 40px;
  padding-bottom: 50px;
  font-size: 50px;
  text-align: center;
  color: #000000 !important;
  padding-bottom: 5px;
}

#answer-field:focus,
#answer-field:active {
  background: transparent;
}

/*------------Contact----------*/
.contact {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d46464), to(rgba(0, 0, 0, 0.6))), url("./img/banners/Banner4.jpg");
  background-image: linear-gradient(#d46464, rgba(0, 0, 0, 0.6)), url("./img/banners/Banner4.jpg");
  border-radius: 25px;
  background-size: cover;
  background-position: center;
  color: #e9d8a6 !important;
  background-attachment: fixed;
  padding: 50px 100px;
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90vw;
  margin: auto;
}

.contact .content {
  max-width: 800px;
  text-align: center;
}

.contact .content h2 {
  font-size: 70px;
  font-weight: 500;
  color: #fff;
}

.contact h2::after {
  content: '';
  background-color: #efefef;
  display: block;
  height: 3px;
  width: 300px;
  margin: 20px auto 5px;
}

.contact .content p {
  font-weight: 300;
  color: #fff;
}

.container {
>>>>>>> c6be2b70215235f51feffb2a932b0aaf3e26444a
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
<<<<<<< HEAD
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.guidelines {
  background-color: #ffb703ff;
  font-family: 'Inter';
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.guidelines__title {
  font-size: 2em;
  font-weight: 900;
  text-align: center;
  color: #023047ff;
}

.guidelines__list {
=======
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.container .contactInfo {
  width: 50%;
>>>>>>> c6be2b70215235f51feffb2a932b0aaf3e26444a
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
<<<<<<< HEAD
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #011924;
}

.guidelines__list-item {
  margin-top: 1rem;
  font-size: 1.2em;
  width: 75%;
  font-weight: 400;
}

.guidelines__list-item a {
  color: #023047ff;
}

.guidelines__list-item:first-of-type {
  margin-top: 1.5rem;
}

.prizes {
  background-color: #023047ff;
  font-family: 'Inter';
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
=======
}

.container .contactInfo .box {
  position: relative;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .contactInfo .box .icon {
  min-width: 60px;
  height: 60px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  font-size: 22px;
}

.container .contactInfo .box .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
>>>>>>> c6be2b70215235f51feffb2a932b0aaf3e26444a
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
<<<<<<< HEAD
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.prizes__title {
  font-weight: 900;
  font-size: 2em;
  text-align: center;
  color: #fb8500ff;
  margin-bottom: 1rem;
}

.prizes__list {
  width: 80%;
}

.prizes__list-item {
  margin-top: 1rem;
  line-height: 1.75rem;
  color: #ffb703ff;
  font-weight: 400;
  font-size: 1.2em;
}

.prizes__list-item:last-of-type {
  margin-bottom: 2rem;
}

.prizes__certificates {
  width: 80%;
  color: #ffb703ff;
  font-weight: 700;
  font-size: 1.1em;
}

.resources {
  background-color: #011924;
  font-family: 'Inter';
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.resources__title {
  font-size: 2em;
  text-align: center;
  font-weight: 900;
  color: #fb8500ff;
}

.resources__subtitle {
  font-size: 1.5em;
  color: #ffb703ff;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.resources__list {
  width: 70%;
  margin-top: 1rem;
}

.resources__list-item {
  color: #8ecae6ff;
  list-style: none;
  margin-bottom: 2rem;
}

.resources__list-item a {
  color: #219ebcff;
}

.resources__list-item a:hover {
  color: #8ecae6ff;
}

.resources__note {
  color: #ffb703ff;
  width: 80%;
  font-weight: 700;
}

.register {
  background-color: #ffb703ff;
  font-family: 'Inter';
  padding-top: 3rem;
  padding-bottom: 3rem;
=======
  font-weight: 300;
}

.container .contactInfo .box .text h3 {
  font-weight: 500;
  color: #ee9b00;
}

.contactForm {
  width: 40%;
  padding: 40px;
}

.contactForm h2 {
  font-size: 30px;
  color: #333;
  font-weight: 500;
}

.contactForm .inputbox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contactForm .inputbox input,
.contactForm .inputbox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid white;
  outline: none;
  resize: none;
}

.contactForm .inputbox span {
  position: absolute;
  left: 0%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: rgba(255, 255, 255, 0.426);
}

.contactForm .inputbox:focus,
.contactForm .inputbox:active {
  background: transparent;
}

.contactForm .inputbox input:focus ~ span,
.contactForm .inputbox input:valid ~ span,
.contactForm .inputbox textarea:focus ~ span,
.contactForm .inputbox textarea:valid ~ span {
  color: #ee9b00;
  font-size: 12px;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.answer-form .answer-field input:focus ~ span,
.answer-form .answer-field input:valid ~ span,
.answer-form .answer-field textarea:focus ~ span,
.contactForm .inputbox textarea:valid ~ span {
  color: #ee9b00;
  font-size: 12px;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.contactForm .inputbox input[type='submit'] {
  width: 100px;
  background: #ee9b00;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

@media (max-width: 991px) {
  .contact {
    padding: 50px;
  }
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .contactInfo {
    margin-bottom: 40px;
  }
  .container .contactInfo,
  .contactForm {
    width: 100%;
  }
  .Glasscontainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .Glasscontainer .Glasscard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

input[type='text'] {
  background: transparent;
  color: #efefef;
  border: none;
  outline-width: 0;
}

textarea {
  background: transparent;
  color: #efefef;
  border: none;
  outline-width: 0;
}

/* ----------Footer--------- */
/* ----------Footer--------- */
.footer {
  background-color: #000000;
>>>>>>> c6be2b70215235f51feffb2a932b0aaf3e26444a
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
<<<<<<< HEAD
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.register__title {
  font-size: 2em;
  text-align: center;
  font-weight: 900;
  color: #023047ff;
}

.register__tagline {
  font-size: 1em;
  width: 70%;
  text-align: center;
  color: #011924;
  font-weight: 400;
  margin-top: 0.5rem;
}

.register__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1.5rem;
  width: 70%;
}

.register__input {
  width: 100%;
  margin-bottom: 1rem;
  height: 48px;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 6px;
  font-size: 1em;
  border: none;
  outline: none;
  -webkit-box-shadow: 0 0 6px 0 #ffffff88;
          box-shadow: 0 0 6px 0 #ffffff88;
  background-color: #fff;
}

.register__submit {
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  background-color: transparent;
  color: #023047ff;
  border: 2px solid #023047ff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.1em;
  text-align: center;
  font-weight: 700;
  border-radius: 6px;
  margin-top: 1rem;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}

.register__submit:hover {
  background-color: #023047ff;
  color: #ffb703ff;
  cursor: pointer;
}

.register__buttons {
  display: none;
  margin-top: 2rem;
  width: 70%;
  margin-bottom: 2rem;
  font-size: 1em;
  text-align: center;
  font-weight: 600;
  color: #023047ff;
}

.register__buttons p {
  margin-bottom: 1rem;
}

.register__buttons button {
  width: 100%;
  height: 4rem;
  text-align: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 6px;
  background-color: transparent;
  border: 2px solid #023047ff;
  font-size: 1.1em;
  color: #023047ff;
  font-weight: 600;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}

.register__buttons button:hover {
  background-color: #023047ff;
  color: #ffb703ff;
  cursor: pointer;
}

.register__buttons button:last-of-type {
  margin-bottom: 0;
}

.footer {
  padding-bottom: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 4rem;
=======
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: sans-serif;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.footer__title {
  font-weight: 900;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
  /* color: #521eb3; */
  background: #ee9b00;
  text-align: center;
  -webkit-text-fill-color: transparent;
  background-clip: content-box;
  -webkit-background-clip: text;
  font-size: 2.5em;
  text-align: center;
}

.footer__credits {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  font-size: 1em;
  font-weight: 300;
  color: #efefef;
}

.footer-copyright {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  font-size: 0.8em;
  font-weight: 200;
  color: #efefef;
}

.socialMedia {
  padding-left: 1rem;
  padding-right: 1rem;
  color: white;
}

/* #particles-js{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10 ;
} */
.Glasscontainer {
  position: relative;
  z-index: 1;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 30px 0;
  /* padding: 6px; */
  width: 100vw;
  height: 100%;
}

.club-container {
  width: 45vw;
}

.Glasscontainer .Glasscard {
  position: relative;
  width: 900px;
  height: 700px;
  background: black;
  margin: 20px;
  -webkit-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.61);
          box-shadow: 0 15px 35px rgba(0, 0, 0, 0.61);
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 45vw;
  height: 100%;
}

.Glasscontainer .Glasscard .content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
>>>>>>> c6be2b70215235f51feffb2a932b0aaf3e26444a
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
<<<<<<< HEAD
=======
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 45vw;
  height: 100%;
}

/* .Glasscontainer .Glasscard:hover .content
{
    opacity: .3;
} */
.CodeJam img {
  width: 40vw !important;
}

.CodeJamandClub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
>>>>>>> c6be2b70215235f51feffb2a932b0aaf3e26444a
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
<<<<<<< HEAD
  font-family: 'Inter';
  background-color: #023047ff;
}

.footer__title {
  font-weight: 900;
  font-size: 2.5em;
  text-align: center;
  background: -webkit-linear-gradient(90deg, #fb8500ff, #ffb703ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer__date {
  text-align: center;
  font-size: 1.1em;
  margin-top: 1rem;
  color: #ffb703ff;
}

.footer__credits {
  margin-top: 1.5rem;
  font-weight: 400;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.9em;
  text-align: center;
  color: #ffb703ff;
}

@media screen and (min-width: 768px) {
  .jumbo__cta {
    width: 25%;
  }
  .timer {
    padding-bottom: 6rem;
    padding-top: 6rem;
  }
  .timer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .about {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 5%;
    padding-right: 5%;
  }
  .about__content {
    text-align: left;
    padding-left: 4rem;
    width: 60%;
  }
  .tracks__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .tracks__title {
    font-size: 3em;
  }
  .tracks__track {
    width: 25%;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .guidelines {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
=======
  width: 100vw;
}

/* --------------------------------------------------------------------
 * ## scroll icon
 * -------------------------------------------------------------------- */
.s-intro__scroll {
  width: 18rem;
  height: 8.8rem;
  padding-right: 3rem;
  border-right: 1px dashed rgba(255, 255, 255, 0.3);
  text-align: right;
  position: absolute;
  bottom: -110px;
  left: 430px;
  right: var(--gutter);
}

.s-intro__scroll .scroll-text {
  font-family: var(--font-1);
  font-weight: 300;
  font-size: var(--text-sm);
  color: white;
  margin-top: var(--vspace-0_625);
}

.s-intro__scroll .end-top {
  background-color: white;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  top: -6px;
  right: -4px;
}

.s-intro__scroll .mouse {
  z-index: 2;
  height: 3.8rem;
  width: 2.5rem;
  border: 3px solid white;
  border-radius: 12px;
  display: block;
  text-align: center;
  position: absolute;
  right: -1.3rem;
  top: 1.4rem;
  -webkit-animation: vertical 3s ease infinite;
  animation: vertical 3s ease infinite;
}

.s-intro__scroll .mouse::before {
  content: '';
  display: block;
  height: 5px;
  width: 3px;
  background-color: white;
  border-radius: 2px;
  margin-left: -1.5px;
  position: absolute;
  top: 6px;
  left: 50%;
}

/* fade in 
 */
@-webkit-keyframes vertical {
  0%,
  60%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  40% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}

@keyframes vertical {
  0%,
  60%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  40% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}

.arrow {
  display: none;
}

.kommunicate-custom-iframe {
  display: none !important;
}

.link-arrow {
  display: none;
}

@media screen and (max-width: 991px) {
  .CodeJamandClub {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .CodeJam {
    width: 90vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .CodeJam a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .Glasscontainer {
    position: relative;
    z-index: 1;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 30px 0;
    /* padding: 6px; */
    width: 100vw;
    height: 100%;
  }
  .club-container {
    width: 90vw;
  }
  .Glasscontainer .Glasscard {
    position: relative;
    width: 900px;
    height: 700px;
    background: black;
    margin: 20px;
    -webkit-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.61);
            box-shadow: 0 15px 35px rgba(0, 0, 0, 0.61);
    border-radius: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    width: 90vw;
    height: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .Glasscontainer .Glasscard .content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
>>>>>>> c6be2b70215235f51feffb2a932b0aaf3e26444a
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
<<<<<<< HEAD
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .guidelines__title {
    font-size: 3em;
  }
  .guidelines__list {
    width: 70%;
  }
  .prizes__title,
  .resources__title {
    font-size: 3em;
  }
  .prizes__list,
  .resources__list {
    list-style: none;
    text-align: center;
  }
  .prizes__certificates,
  .resources__certificates {
    text-align: center;
  }
  .prizes__note,
  .resources__note {
    text-align: center;
    font-size: 1.5em;
  }
  .prizes__subtitle,
  .resources__subtitle {
    font-size: 2em;
  }
  .register__title {
    font-size: 3em;
  }
  .register__tagline {
    font-size: 1.2em;
    margin-bottom: 1rem;
  }
  .register__input {
    width: 70%;
  }
  .register__submit {
    width: 70%;
  }
  .register__buttons {
    width: 70%;
  }
}

@media screen and (min-width: 1200px) {
  .jumbo__cta {
    width: 15%;
  }
  .about {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .tracks {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .tracks__title {
    font-size: 3em;
    margin-bottom: 2rem;
  }
  .tracks__track {
    width: 20%;
  }
  .guidelines {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .guidelines__title {
    font-size: 3em;
  }
  .guidelines__list {
    width: 50%;
    margin-top: 1rem;
  }
  .prizes,
  .resources {
    padding: 0;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .prizes__title,
  .resources__title {
    font-size: 3em;
  }
  .prizes__list,
  .resources__list {
    list-style: none;
    text-align: center;
  }
  .prizes__certificates,
  .resources__certificates {
    text-align: center;
  }
  .prizes__note,
  .resources__note {
    text-align: center;
    font-size: 1.5em;
  }
  .prizes__subtitle,
  .resources__subtitle {
    font-size: 2em;
  }
  .register {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .register__input {
    width: 30%;
  }
  .register__submit {
    width: 30%;
  }
  .register__buttons {
    width: 30%;
  }
}

@media screen and (max-width: 367px) {
  .jumbo__title {
    font-size: 1.75em;
  }
  .footer__title {
    font-size: 1.75em;
=======
    opacity: 1;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    width: 90vw;
    height: 100%;
  }
  /* .Glasscontainer .Glasscard:hover .content
{
    opacity: .3;
} */
  .CodeJam img {
    width: 90vw !important;
  }
  .CodeJamandClub {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
  }
  #ITClub {
    width: 90vw;
>>>>>>> c6be2b70215235f51feffb2a932b0aaf3e26444a
  }
}
/*# sourceMappingURL=main.css.map */