* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    background-color: #000000!important;
}

.video-container {
    /* width is set as 100% here. any width can be specified as per requirement */
    width: 100vw;
    padding-top: 56.25%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    position: relative;
}

.video {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}


/*----Navigation------*/


/*self made class*/


/* 
.bgcolor.scrolled {
    background-color: rgba(29, 26, 26, 0.8);
} */

nav{
    background-color: #000000c9;
}

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-brand img {
    height: 50px;
    padding-left: 30px;
}

.navbar-nav li {
    padding: 0 1em;
}

.navbar-nav li a {
    float: right;
    text-align: left;
    padding-top: 10px;
    font-size: 20px;

}

#nav-bar ul li a:hover {
    color: #ee9b00!important;
}

.navbar {
    width: 100vw;
}
.navbar-toggler {
    border: none!important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 280, 280, 0.9%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.nav-link {
    color: rgb(255, 255, 255)!important;
    font-weight: 500;
    font-size: 16px;
}

.arrow {
    position: relative;
    top: -150px;
    left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}


/*-----Slider-------*/

#slider {
    width: auto;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial!important;
}

.carousel-extra-caption {
    top: 50%;
    transform: translateY(50%);
    bottom: initial!important;
}

.carousel-caption h6 {
    color: #fff;
    font-size: 20px;
}

.carousel-caption h5 {
    color: #fff;
    font-size: 80px;
}

.carousel-caption h4 {
    color: #fff;
    font-size: 80px;
}

.carousel-caption h3 {
    color: #fff;
    font-size: 80px;
}

.carousel-caption h2 {
    color: #fff;
    font-size: 80px;
}


/*------------About---------*/

#about {
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.about-content {
    padding-top: 20px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}

@media all and (max-width: 616px) {
    #about {
        margin-left: 1.5em;
        margin-right: 1.5em;
    }
    .about-content {
        font-size: 0.8em;
    }
}


/*-----------IT Club---------*/

#ITClub {
    background-image: linear-gradient(rgb(87, 125, 168), rgba(0, 0, 0, 0.6)), url('./img/banners/Banner4.jpg');
    border-radius: 25px;
    background-size: cover;
    background-position: center;
    color: #efefef!important;
    background-attachment: fixed;
    /* padding-top: 50px;
    padding-bottom: 20px; */
    width: 900px;
    height: 700px;
    position: relative;
    top: 12px;
    width: 45vw;
    height: 100%;
}

#ITClub h1 {
    text-align: center;
    color: #efefef!important;
    padding-bottom: 5px;
    font-size: 60px;
}

#ITClub h1::after {
    content: '';
    background-color: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}

.answer-field {
    width: 80%;
    color: #fff;
}

.Discord {
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
}

.link-arrow {
    z-index: 9;
    position: relative;
    top: -60px;
    left: 780px;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    /* margin: 40px 0; */
    color: rgba(255, 255, 255, 0.726);
}

.CodeJam {
    background-image: linear-gradient(rgb(255, 199, 17), rgba(0, 0, 0, 0.596)), url('./img/banners/Banner4.jpg');
    border-radius: 25px;
    background-size: cover;
    background-position: center;
    color: #efefef!important;
    background-attachment: fixed;
    /* padding-top: 50px;
    padding-bottom: 20px; */
    width: 45vw;
    height: 100%;
}


/*------------Techsprint----------*/

#TechSprint {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url('./img/techsprint/Techsprint.jpg');
    border-radius: 25px;
    background-size: cover;
    background-position: center;
    color: #efefef!important;
    background-attachment: fixed;
    width: 90vw;
    height: 250px;
    margin: auto;
    position: relative;
    top: 12px;
    padding-left: 20px;
    padding-right: 20px;
}

#TechSprint h1 {
    font-size: 70px;
    text-align: center;
    position: relative;
    top: 60px;
    color: #efefef!important;
    padding-bottom: 5px;
}

#TechSprint h1::after {
    content: '';
    background-color: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}

.techsprintknowmore h5 {
    color: #efefef!important;
}

#regForm {
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
    width: 100px;
}

.RegText h1 {
    padding-top: 40px;
    padding-bottom: 50px;
    font-size: 50px;
    text-align: center;
    color: #000000!important;
    padding-bottom: 5px;
}

#answer-field:focus,
#answer-field:active {
    background: transparent;
}


/*------------Contact----------*/

.contact {
    background-image: linear-gradient(rgb(212, 100, 100), rgba(0, 0, 0, 0.6)), url('./img/banners/Banner4.jpg');
    border-radius: 25px;
    background-size: cover;
    background-position: center;
    color: #e9d8a6!important;
    background-attachment: fixed;
    padding: 50px 100px;
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90vw;
    margin: auto;
}

.contact .content {
    max-width: 800px;
    text-align: center;
}

.contact .content h2 {
    font-size: 70px;
    font-weight: 500;
    color: #fff;
}

.contact h2::after {
    content: '';
    background-color: #efefef;
    display: block;
    height: 3px;
    width: 300px;
    margin: 20px auto 5px;
}

.contact .content p {
    font-weight: 300;
    color: #fff;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.container .contactInfo .box .text h3 {
    font-weight: 500;
    color: #ee9b00;
}

.contactForm {
    width: 40%;
    padding: 40px;
}

.contactForm h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactForm .inputbox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputbox input,
.contactForm .inputbox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    outline: none;
    resize: none;
}

.contactForm .inputbox span {
    position: absolute;
    left: 0%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: rgba(255, 255, 255, 0.426);
}

.contactForm .inputbox:focus,
.contactForm .inputbox:active {
    background: transparent;
}

.contactForm .inputbox input:focus~span,
.contactForm .inputbox input:valid~span,
.contactForm .inputbox textarea:focus~span,
.contactForm .inputbox textarea:valid~span {
    color: #ee9b00;
    font-size: 12px;
    transform: translateY(-20px);
}

.answer-form .answer-field input:focus~span,
.answer-form .answer-field input:valid~span,
.answer-form .answer-field textarea:focus~span,
.contactForm .inputbox textarea:valid~span {
    color: #ee9b00;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputbox input[type="submit"] {
    width: 100px;
    background: #ee9b00;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

/*---------------Small Screen Devices(Phone)-----------------*/
@media(max-width: 991px) {
    .contact {
        padding: 50px;
    }
    .container {
        flex-direction: column;
    }
    .container .contactInfo {
        margin-bottom: 40px;
    }
    .container .contactInfo,
    .contactForm {
        width: 100%;
    }
    .Glasscontainer {
        flex-direction: column;
    }
    .Glasscontainer .Glasscard {
        flex-direction: column;
    }
}

input[type="text"] {
    background: transparent;
    color: #efefef;
    border: none;
    outline-width: 0;
}

textarea {
    background: transparent;
    color: #efefef;
    border: none;
    outline-width: 0;
}



/* ----------Footer--------- */


/* ----------Footer--------- */

.footer {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.footer__title {
    font-weight: 900;
    letter-spacing: 1px;
    margin-bottom: 0.5rem;
    /* color: #521eb3; */
    background: #EE9B00;
    text-align: center;
    -webkit-text-fill-color: transparent;
    background-clip: content-box;
    -webkit-background-clip: text;
    font-size: 2.5em;
    text-align: center;
}

.footer__credits {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    font-size: 1em;
    font-weight: 300;
    color: #efefef;
}

.footer-copyright {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    font-size: 0.8em;
    font-weight: 200;
    color: #efefef;
}

.socialMedia {
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
}

.Glasscontainer {
    position: relative;
    z-index: 1;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px 0;
    width: 100vw;
    height: 100%;
}

.club-container {
    width: 45vw;
}

.Glasscontainer .Glasscard {
    position: relative;
    width: 900px;
    height: 700px;
    background: rgb(0, 0, 0);
    margin: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.61);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    width: 45vw;
    height: 100%;
}

.Glasscontainer .Glasscard .content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 1;
    transition: 0.5s;
    width: 45vw;
    height: 100%;
}


/* .Glasscontainer .Glasscard:hover .content
{
    opacity: .3;
} */

.CodeJam img {
    width: 40vw !important;
}

.CodeJamandClub {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}


/* --------------------------------------------------------------------
 * ## scroll icon
 * -------------------------------------------------------------------- */

.s-intro__scroll {
    width: 18rem;
    height: 8.8rem;
    padding-right: 3rem;
    border-right: 1px dashed rgba(255, 255, 255, 0.3);
    text-align: right;
    position: absolute;
    bottom: -110px;
    left: 430px;
    right: var(--gutter);
}

.s-intro__scroll .scroll-text {
    font-family: var(--font-1);
    font-weight: 300;
    font-size: var(--text-sm);
    color: white;
    margin-top: var(--vspace-0_625);
}

.s-intro__scroll .end-top {
    background-color: white;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    top: -6px;
    right: -4px;
}

.s-intro__scroll .mouse {
    z-index: 2;
    height: 3.8rem;
    width: 2.5rem;
    border: 3px solid white;
    border-radius: 12px;
    display: block;
    text-align: center;
    position: absolute;
    right: -1.3rem;
    top: 1.4rem;
    -webkit-animation: vertical 3s ease infinite;
    animation: vertical 3s ease infinite;
}

.s-intro__scroll .mouse::before {
    content: "";
    display: block;
    height: 5px;
    width: 3px;
    background-color: white;
    border-radius: 2px;
    margin-left: -1.5px;
    position: absolute;
    top: 6px;
    left: 50%;
}


/* fade in 
 */

@-webkit-keyframes vertical {
    0%,
    60%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    20% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    40% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}

@keyframes vertical {
    0%,
    60%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    20% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    40% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}

.arrow {
    display: none;
}



.link-arrow {
    display: none;
}

/*---------------Small Screen Devices(Phone)-----------------*/

@media screen and (max-width: 991px) {
    .CodeJamandClub {
        flex-direction: column;
    }
    .CodeJam {
        width: 90vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .CodeJam a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .Glasscontainer {
        position: relative;
        z-index: 1;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 30px 0;
        /* padding: 6px; */
        width: 100vw;
        height: 100%;
    }
    .club-container {
        width: 90vw;
    }
    .Glasscontainer .Glasscard {
        position: relative;
        width: 900px;
        height: 700px;
        background: rgb(0, 0, 0);
        margin: 20px;
        box-shadow: 0 15px 35px rgba(0, 0, 0, 0.61);
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(10px);
        width: 90vw;
        height: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .Glasscontainer .Glasscard .content {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity: 1;
        transition: 0.5s;
        width: 90vw;
        height: 100%;
    }
    /* .Glasscontainer .Glasscard:hover .content
{
    opacity: .3;
} */
    .CodeJam img {
        width: 90vw !important;
    }
    .CodeJamandClub {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }
    #ITClub {
        width: 90vw;
    }
}

.Discord iframe{
    width: 90%;
}

.spinner {
    width: 40px;
    height: 40px;
    background-color: rgb(0, 227, 239);
  
    position: absolute;
    top: 48%;
    left: 48%;  
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
  }
  
  @-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
  }
  
  @keyframes sk-rotateplane {
    0% { 
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
    } 50% { 
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
    } 100% { 
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
  }

  .spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    z-index: 999999;
    }
