@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none !important;
}

.jumbo {
    height: 100vh;
    // background: url('/img/techsprint/game-mobile.jpg'), linear-gradient(to bottom, #00ff00 0%, #0f0f0f 100%);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__title {
        font-family: 'IBM Plex Sans';
        color: #e9d8a6;
        font-size: 2.5em;
        margin-bottom: 0;
        letter-spacing: 1px;
        text-align: center;
    }
    &__tagline {
        font-family: 'Inter';
        color: #e9d8a6;
        margin-top: 1rem;
        margin-bottom: 2rem;
        font-size: 1.2em;
        width: 80%;
        text-align: center;
    }
    &__btn {
        width: 100%;
        text-align: center
    }
    &__cta {
        font-family: 'IBM Plex Sans';
        appearance: none;
        border: none;
        outline: none;
        width: 80%;
        border: 2px solid darken(#e9d8a6, 30%);
        background-color: transparent;
        padding-top: 1rem;
        padding-bottom: 1rem;
        color: darken(#e9d8a6, 30%);
        font-size: 1.1em;
        border-radius: 6px;
        transition: all ease-in-out 500ms;
        &:hover {
            background-color: darken(#e9d8a6, 30%);
            color: #fff;
            cursor: pointer;
        }
    }
}

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-brand img {
    height: 50px;
}

.navbar-nav li {
    padding: 0 2em;
}

.navbar-nav li a {
    float: right;
    text-align: left;
    /* padding-top: 10px; */
    font-size: 1.2em;
}

#nav-bar ul li a:hover {
    color: #ee9b00!important;
}

.navbar {
    width: 100vw;
}

.navbar-toggler {
    border: none!important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 280, 280, 0.9%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.nav-link {
    color: rgb(255, 255, 255)!important;
    font-weight: 500;
    font-size: 16px;
}

.about {
    background-color: #000;
    padding-top: 4rem;
    padding-bottom: 4rem;
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__title {
        text-align: center;
        font-size: 2.5em;
        color: #e9d8a6;
        font-family: 'IBM Plex Sans';
    }
    &__tagline {
        text-align: center;
        font-size: 1.2em;
        font-family: 'Inter';
        color: #ee9b00;
        margin-top: 1rem;
        width: 80%;
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

#valo {
    background: url('../img/valo.jpg'), linear-gradient(to bottom, #00ff00 0%, #0f0f0f 100%);
    background-size: cover;
    background-position: center;
    height: 25vh;
    width: 100vw;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-blend-mode: multiply;
}

#fortnite {
    background: url('../img/fortnite.jpg'), linear-gradient(to bottom, #00ff00 0%, #0f0f0f 100%);
    background-size: cover;
    background-position: center;
    height: 25vh;
    width: 100vw;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-blend-mode: multiply;
}

#codm {
    background: url('../img/codm.jpg'), linear-gradient(to bottom, #00ff00 0%, #0f0f0f 100%);
    background-size: cover;
    background-position: center;
    height: 25vh;
    width: 100vw;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-blend-mode: multiply;
}

#bgmi {
    background: url('../img/bgmi.jpeg'), linear-gradient(to bottom, #00ff00 0%, #0f0f0f 100%);
    background-size: cover;
    background-position: center;
    height: 25vh;
    width: 100vw;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-blend-mode: multiply;
}

.games {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    padding-top: 2rem;
    padding-bottom: 2rem;
    &__title {
        font-size: 2.5em;
        font-family: 'IBM Plex Sans';
        color: #e9d8a6;
        margin-bottom: 2rem;
    }
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__item-title {
        font-family: 'Inter';
        font-weight: 700;
        letter-spacing: 1px;
        color: #ee9b00;
        text-align: center;
        font-size: 2em;
    }
    &__rules {
        font-family: 'Inter';
        color: #ee9b00;
        font-size: 1.3em;
        width: 80%;
    }
    &__rules-item {
        margin-top: 2rem;
        word-break: break-all;
    }
}

.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #000;
    &__title {
        font-family: 'IBM Plex Sans';
        letter-spacing: 1px;
        font-size: 2.5em;
        color: #e9d8a6;
        margin-bottom: 1rem;
    }
}


/* ----------Footer--------- */

.footer {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.footer__title {
    font-weight: 900;
    letter-spacing: 1px;
    margin-bottom: 0.5rem;
    /* color: #521eb3; */
    background: #EE9B00;
    text-align: center;
    -webkit-text-fill-color: transparent;
    background-clip: content-box;
    -webkit-background-clip: text;
    font-size: 2.5em;
    text-align: center;
}

.footer__credits {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    font-size: 1em;
    font-weight: 300;
    color: #efefef;
}

.footer-copyright {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    font-size: 0.8em;
    font-weight: 200;
    color: #efefef;
}

.socialMedia {
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
}

@media screen and (min-width: 768px) {
    .navbar-brand img {
        height: 50px;
        padding-left: 30px;
    }
    .jumbo {
        &__cta {
            width: 40%;
        }
        &__tagline {
            width: 60%;
        }
        &__title {
            font-size: 3em;
        }
    }
    .about {
        &__container {
            flex-direction: row;
        }
        &__title {
            width: 100%;
        }
    }
    .games {
        &__row {
            display: flex;
            width: 100vw;
            align-items: center;
            justify-content: center;
        }
        &__item-title {
            font-size: 2.5em;
        }
    }
    #valo {
        width: 50vw;
        height: 50vh;
        transition: all 0.5s ease;
        &:hover {
            transform: scale(1.1);
            cursor: pointer;
        }
    }
    #fortnite {
        width: 50vw;
        height: 50vh;
        transition: all 0.5s ease;
        &:hover {
            transform: scale(1.1);
            cursor: pointer;
        }
    }
    #codm {
        width: 50vw;
        height: 50vh;
        transition: all 0.5s ease;
        &:hover {
            transform: scale(1.1);
            cursor: pointer;
        }
    }
    #bgmi {
        width: 50vw;
        height: 50vh;
        transition: all 0.5s ease;
        &:hover {
            transform: scale(1.1);
            cursor: pointer;
        }
    }
}